/*! formalize.css v1.8.0 | MIT License | github.com/visicode/formalize.css */

/* To include after normalize.css (https://github.com/necolas/normalize.css)
   ========================================================================== */

/**
 * Change the border and margin in all browsers (opinionated).
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
}

/**
 * Set line height to 'inherit'.
 */

button,
input,
optgroup,
select,
textarea {
	line-height: inherit;
}

/**
 * Consistent style, width and color between all fields (opinionated).
 */

button,
input,
select,
textarea {
	border: 1px solid #c0c0c0;
}

/**
 * 1. Consistent paddings.
 * 2. Allow setting the same size for all form fields.
 */

input,
textarea {
	padding: 1px; /* 1 */
	box-sizing: border-box; /* 2 */
}

/**
 * Revert to initial values for some fields.
 */

[type="range"],
[type="file"],
[type="image"] {
	border: 0;
	padding: 0;
}

/**
 * Consistent vertical alignments.
 */

[type="range"],
[type="color"],
[type="image"],
[type="checkbox"],
[type="radio"] {
	vertical-align: middle;
}

/**
 * Allow correct vertical alignment with field label.
 */

textarea {
	vertical-align: top;
}

/**
 * Consistent background color on Chrome.
 */

[type="color"] {
	background-color: #fff;
}

/**
 * Consistent background color on Edge and IE.
 */

[type="file"] {
	background-color: transparent;
}

/**
 * 1. Consistent buttons background color for all browsers (opinionated).
 * 2. Consistent paddings.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	background-color: #e1e1e1; /* 1 */
	padding: 1px 6px; /* 2 */
}

/**
 * Remove the inside button border in Chrome.
 */

::-webkit-color-swatch {
	border: 0;
}

/**
 * Remove the inside button border in Firefox.
 */

::-moz-color-swatch {
	border: 0;
}

/**
 * Remove the inside button padding in Chrome.
 */

::-webkit-color-swatch-wrapper {
	padding: 0;
}

/**
 * Remove the inside button padding in Firefox.
 */

::-moz-color-swatch-wrapper {
	padding: 0;
}

/**
 * 1. Consistent style, width and color between all fields (opinionated, same than above).
 * 2. Consistent background color for all browsers (opinionated, same than above).
 */

::-webkit-file-upload-button {
	border: 1px solid #c0c0c0; /* 1 */
	background-color: #e1e1e1; /* 2 */
}

/**
 * Consistent style, width and color between all fields (opinionated, same than above).
 */

::-ms-browse {
	border: 1px solid #c0c0c0;
}

/* Placeholders
   ========================================================================== */

/**
 * 1. Consistent placeholder color (opinionated).
 * 2. Correct Firefox opacity.
 */

::-webkit-input-placeholder {
	color: #a9a9a9; /* 1 */
}
::-moz-placeholder {
	color: #a9a9a9; /* 1 */
	opacity: 1; /* 2 */
}
:-ms-input-placeholder {
	color: #a9a9a9; /* 1 */
}

/* Focus effect
   ========================================================================== */

/**
 * Remove all focus outlines.
 */

input:focus,
textarea:focus {
	outline-width: 0;
}

/**
 * 1. Add a focus outline for some fields only (opinionated).
 * 2. Set the focus outline to be just around the field border.
 */

button:focus,
[type="range"]:focus,
[type="image"]:focus,
[type="checkbox"]:focus,
[type="radio"]:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus,
select:focus {
	outline: 1px dotted #000; /* 1 */
	outline-offset: 0; /* 2 */
}

/**
 * Remove the focus border in Firefox.
 */

[type="range"]::-moz-focus-outer {
	border: 0;
}

/**
 * Revert the webkit blur effect on focus in Safari for better visual effect.
 */

[type="checkbox"]:focus,
[type="radio"]:focus {
	outline-style: auto;
}

/**
 * Remove the focus outline in Firefox to only keep the original effect.
 */

[type="range"]:-moz-focusring,
[type="checkbox"]:-moz-focusring,
[type="radio"]:-moz-focusring {
	outline-width: 0;
}

/**
 * Add a focus outline for color field (Chrome) and file selector field (Chrome & Safari) (same than above).
 */

:focus::-webkit-color-swatch,
:focus::-webkit-file-upload-button {
	outline: 1px dotted #000;
}

/**
 * Add a focus outline for file selector field in Edge and IE (same than above).
 */

:focus::-ms-browse {
	outline: 1px dotted #000;
}

/* Hover effect
   ========================================================================== */

/**
 * Consistent background color for all browsers (opinionated).
 */

button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
	background-color: #e5f1fb;
}
::-webkit-file-upload-button:hover {
	background-color: #e5f1fb;
}
::-ms-browse:hover {
	background-color: #e5f1fb;
}

/* Normalize.css fixes
   ========================================================================== */

/**
 * Consistent links effects (#577).
 */

a:active,
a:hover {
	outline-width: 0;
}
a:focus {
	outline: 1px dotted #000;
}

/**
 * Consistent display mode in Firefox when image field is empty (#546).
 */

[type="image"] {
	display: inline-block;
}

/**
 * iPhone bug displaying search input with rounded angles before entering into the field (#582).
 */

[type="search"] {
	-webkit-appearance: none;
}
